[Unit]
Description=OpenGL "YAGL"
DefaultDependencies=no
After=emul-opengl-mode.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'true'
